.mainBtns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #111113; /* Updated shade to fit the color palette */
    border-radius: 10px;
}

.mainBtn {
    width: 450px;
    height: 250px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #54FFAD; /* Button color from the image */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease, background-color 0.5s ease;
}

.mainBtn.selected {
    background-color: #9ac2f6; /* Slightly darker shade when selected */
}

.buttonContent {
    text-align: center;
    color: #111113;
}

.icon {
    font-size: 2rem; /* Adjust icon size */
    margin-bottom: 10px;
}

.textContainer {
    color: #111113;
}

.buttonTextStyle {
    font-size: 1.2rem;
    font-weight: bold;
}

.buttonDescription {
    font-size: 0.9rem;
    color: #4e4e50;
}

.app {
    background-color: #111113; /* Page background color */
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #3a3a43;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    gap: 20px;
}


.rowForm {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px; /* Adjust the spacing as needed */
}

.inputForm {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.selectForm .react-select__control {
    border-color: #ccc;
    color: #111113;
}

.selectForm .react-select__single-value {
    color: #9DE5FF; /* Color for the selected option */
}

.checkboxLabel {
    font-size: 1rem;
    color: #9DE5FF;
}

.checkboxForm {
    margin-right: 10px;
}

.buttonForm {
    width: 100%;
    background-color: #111113;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.buttonForm:hover {
    background-color: #333;
}

@media(max-width: 768px) {
    .formContainer {
        grid-template-columns: 1fr;
    }
}